*{
    padding: 0;
    margin: 0;
}
header{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right, red,rgb(247, 86, 86))
}
#logoBox{
    width: 30%;
    height: 100%;
    float: right;
    background-color: #fafafa;
}
#h1Header{
    float: left;
    line-height: 100px;
    padding: 0 15px;
}
#logo{
    height: 100%;
    border-radius: 50%;
}
header a{
    color:black;
}
nav{
    width: 70%;
    text-align: center;
}

nav a{
   text-decoration: none;
   color:white;
   font-weight: bold;
   display: inline-block;
}
nav li{
    display: inline-block;
    line-height: 100px;
    width: 100px;
    text-align: center;
}
nav a:hover{
    background-color: white;
    color:black;
    height: 100%;
    width: 100%;
}
main{
    width: 100%;
    height: 450px;
    background-color: rgb(255, 55, 55);
    border-top: 3px solid white;
    animation-name: changeBackground;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes changeBackground{
    0%{
        background-color: white;
    }
    25%{
        background-color: royalblue;
    }
    50%{
        background-color: rgb(255, 55, 55);;
    }
    100%{
        background-color: black;
    }
}
